.myFav__heeader {
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../photo/background_croped.jpg');
  height: 100vh;
  max-height: 200px;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
}


.myFav__list-container {
  display: flex !important;
 flex-wrap: wrap;
 justify-content: space-around;
}

.myFav__heeader h1  {
    font-family:'Roboto';
    color: rgb(255, 253, 253);
    text-shadow: rgba(0,0,0,0.8);
    font-size: 40px;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
}