.main {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 30%;
}

.content {
  width: 60%;
}

span:hover {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}